:root {
  --g2: rgb(173, 145, 255);
  --g1: rgb(255, 71, 71);
  --g3: rgb(71, 145, 255);
}
@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  
  to {
    background-position: -200% center;
  }
}

body {
  animation: background-pan 10s linear infinite;
  background: linear-gradient(
    to right,
    var(--g1),
    var(--g2),
    var(--g3),
    var(--g2),
    var(--g1)
  );
  background-size: 200%;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
}

h1 {
  color: white;
  font-size: clamp(2em, 2vw, 4em);
  font-weight: 400;
  margin: 0px;
  padding: 20px;
  text-align: center;
  z-index: 2;
}

.square {
  background-color: rgb(15, 15, 15);
  inset: 1px;
  position: absolute;
  z-index: 1;

}
